registry=http://jk.e20.com.cn:18081/repository/npm-group/
always-auth=true
//jk.e20.com.cn:18081/repository/npm-group/:_auth=${NPM_AUTH}
audit=false
node-linker=hoisted
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
fetch-retries=5
fetch-timeout=60000
