.cesium-button {
  display: inline-block;
  position: relative;
  background: #303336;
  border: 1px solid #444;
  color: #edffff;
  fill: #edffff;
  border-radius: 4px;
  padding: 5px 5px;
  margin: 2px 2px;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
}

.cesium-viewer-toolbar {
  top: 55px;
  right: 50px;
}
// cesium-button cesium-fullscreenButton
.cesium-viewer-fullscreenContainer {
  position: absolute;
  top: 57px;
  right: 15px;
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  overflow: hidden;
}

.cesium-button:focus {
  color: #fff;
  fill: #fff;
  border-color: #ea4;
  outline: 0;
}

.cesium-button:hover {
  color: #fff;
  fill: #fff;
  background: #48b;
  border-color: #aef;
  box-shadow: 0 0 8px #fff;
}

.cesium-button:active {
  color: #000;
  fill: #000;
  background: #adf;
  border-color: #fff;
  box-shadow: 0 0 8px #fff;
}

.cesium-button-disabled,
.cesium-button-disabled:active,
.cesium-button-disabled:focus,
.cesium-button-disabled:hover,
.cesium-button:disabled {
  background: #303336;
  border-color: #444;
  color: #646464;
  fill: #646464;
  box-shadow: none;
  cursor: default;
}

.cesium-button option {
  background-color: #000;
  color: #eee;
}

.cesium-button option:disabled {
  color: #777;
}

.cesium-button input,
.cesium-button label {
  cursor: pointer;
}

.cesium-button input {
  vertical-align: sub;
}

.cesium-toolbar-button {
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 14%;
  padding: 0;
  vertical-align: middle;
  z-index: 0;
}
