/* 弹窗内容 */
#myPopup {
  visibility: hidden;
  /* max-width:480px;
     max-height:304px;  */
  height: auto;
  position: absolute;
  /* 解决独占一行问题 */
  z-index: 1;
  /*值越大越好，表示距离屏幕越近，越在上层*/
  overflow: hidden;
  /* 不显示父级 div  */
  /*background:#373c35 !important;   透明#373c3500     解决 element.style 默认颜色 */
}

/* ---弹窗内容---大小范围 ---*/
/* 320*180 (320+20)*(180+20),360*202,380*214,400*255,420*236 480*270 */
#popup-content {
  height: 200px;
  width: 340px;
  border: 2px solid rgb(0, 69, 142);
  border-radius: 15px;
  /* max-width:480px;
     max-height:270px; */
  background-color: #07539bab;
  user-select: none;
}

.popup-tip-content {
  margin: 0 auto;
  width: 30px;
  height: 18px;
  overflow: hidden;
  /* 不显示父级 div  */
  /* background-color:dimgray; */
}

.popup-tip {
  background: rgba(0, 69, 142, 1);
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
  width: 17px;
  height: 17px;
  padding: 1px;
  margin: -10px auto 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-close-button {
  position: absolute;
  right: 0;
  padding: 0px 4px 0px 0px;
  /*  */
  text-align: center;
  font:
    20px/25px Tahoma,
    Verdana,
    sans-serif;
  color: rgb(0, 69, 142);
  text-decoration: none;
  background: transparent;
  z-index: 1;
}

.popup-close-button:hover {
  color: white;
}
